<div id="form_header">
  <h3>Category -  <%= link_to "Add new", :controller=>"category", :action => "new" %> -
    See: <%= link_to "All", :controller => "category", :action => "list", :sort => "all" %> - Filter by: (<%= link_to "Year", :controller => "category", :action => "list", :sort => "year" %>  /
    <%= link_to "Month", :controller => "category", :action => "list", :sort => "month" %>)</h3>


  <div class="form">
    <% @categories.each do |category| %>
        <%= text_field :category, :position, :value => category.position, :disabled=>true, :size => 2 %>
        <b><%= category.name %></b> =>
        <%= link_to "View", :controller=>"category", :action => "index", :category => category.name %> =>
        <%= link_to "Edit", :controller=>"category", :action => "edit", :id => category.id %><br/>
    <% end %>
  </div>
</div>