<div id="form_header">
	<%= form_tag({:controller => "category", :action => "save"}) %>
	  <h2> New Category </h2>
	  <div class="form">
	    <span class="label">Title</span>
	    <%= text_field :category, :name %>
	  </div>

	  <div class="form">
	    <span class="label">Text Description</span>
	    <%= text_area :category, :description, :id=>"wysiwyg", :rows=>"5", :cols=>"47" %>
	  </div>

	  <div class="form">
	    <span class="label">Position</span>
	    <%= text_field :category, :position, :value => 0, :size => 2 %>
	  </div>
	<%= submit_tag "save" %>
</div>