<div id="form_header">
	<h3>Upload</h3>
	<%= form_tag({:controller => "cmsfile", :action => "file_upload"},:multipart => true) do %>
		<div class="form">
	      <span class="label">Upload file to:</span>
	      <%= select_tag "directoryinfo", options_for_select(Setting::FILE_CATEGORIES) %> 
	    </div>
	   	<div class="form">
	      <span class="label">Upload file from:</span>
	      <%= file_field_tag "fileupload" %>
	     </div>
		<%= submit_tag :upload %>
	<% end %>
</div>
<div id="form_header">
    <h3>views files in root => <%= params[:view_directory_info] %></h3>
    <%= form_tag({:controller => "cmsfile", :action => "index"}) %>
	<div class="form">
	  <span class="label"></span>
      <%= select_tag "view_directory_info", options_for_select(Setting::FILE_CATEGORIES) %> 
	</div>
	<%= submit_tag "View" %>
	<br/>
	List of files:<br/>
	<% unless @directory_path.blank? %>
		<% @directory_path.each do |directory| %>
			<% unless params[:view_directory_info] == ".." %>
				<%= link_to directory, "/#{params[:view_directory_info]}/#{directory}", :target => "_blank" %><br/>
			<% else %>
				<%= directory %><br/>
			<% end %>
		<% end %>
	<% end %>
</div>