<div id="section1" >
	<h3 style="margin-left:185px;">Site Admin</h3>
	<p class="section_subclass">Categories<span class="submenu"> <%= link_to "Add new", :controller=>"category", :action => "new" %> | <%= link_to "View", :controller=>"category", :action => "list" %></span></p>
	<p class="section_subclass">Articles<span class="submenu"> <%= link_to "Add new", :controller=>"article", :action => "new" %> | <%= link_to "View", :controller=>"article", :action => "list" %> </span></p>
	<p class="section_subclass"> Pages<span class="submenu"><%= link_to "Add new", :controller=>"page", :action => "new" %> | <%= link_to "View", :controller=>"page", :action => "list" %> </span></p>
	<p class="section_subclass">Extra Contents<span class="submenu"><%= link_to "Add new", :controller=>"extra_content", :action => "new" %> | <%= link_to "View", :controller=>"extra_content", :action => "list" %></span></p>
</div ><br/>

<div class="section2">
	<h3 style="margin-left:200px;">Site </h3>
	<span style="margin-left:170px;"><%= link_to "Settings", settings_path %> | <%= link_to "Files", :controller => "cmsfile" %></span><br/>
</div><br/>

<div class="section2">
	<h3 style="margin-left:185px;">Login Status</h3>
	<span style="margin-left:210px;"><%= link_to "Logout", logout_path %></span> <br/>
</div>