<div style="margin-left:100px;">
    <div id="featuredworks">
      <div class="work">
        <h3>Consulting</h3>
        <div class="imageBox imageBoxLeft">
          <a href="#"><img src="images/consulting.jpg" alt="Consulting"/></a>
        </div>
      </div>
      <div class="work">
        <h3>Development</h3>

        <div class="imageBox imageBoxLeft">
          <a href="#"><img src="images/development.jpg" alt="Development"/></a>
        </div>
      </div>
      <div class="worklast">
        <h3>Outsourcing</h3>

        <div class="imageBox imageBoxLeft">
          <a href="#"><img src="images/outsource.jpg" alt="Outsource"/></a>
        </div>
      </div>
    </div>
    <div class="normalBlock">
      <div id="testimonial">
        <h3>White Papers</h3>
        <div class="checkList">
          <ul class="check">
            <% @white_paper.each do |white_paper| %>
                <% path = "/data/" + white_paper.filename %>
                <li><%= link_to white_paper.name, path, :target => "_blank" %>
            <% end %>
          </ul>
        </div>
        <h3>Testimonial</h3>
        <blockquote>
         <% @testimonial.each do |testimonial| %>
          <p class="first"><%= testimonial.quotes %><span class="last"></span></p>
             <p><cite>-- <%= testimonial.name %>,<%= testimonial.position %> , <%= testimonial.company %> </cite>
          </p>
         <% end %>
        </blockquote>
      </div>
      <div id="news">
        <h3>Site News</h3>
        <ul id="newsItem">
        <% unless @article.blank? %>
           <% @article.each do |article| %>
            <li><%= article.body_part.html_safe %><%= link_to article.created_at.strftime("%B %d %Y %H:%m %p"), {:controller => "article", :articles => article.title}, :class=>"block" %></li>
           <% end %>
        <% else %>
            <p class="content_not_found">No Article found</p>
        <% end %>
        </ul>
      </div>
    </div>
</div>