<script type="text/javascript">
  $(function()
  {
  $('#wysiwyg').wysiwyg({
    controls: {
      html : { visible : true },      
      separator07 : { visible : true },
      cut   : { visible : true },
      copy  : { visible : true },
      paste : { visible : true }
    }
  });
  });
  $(document).ready(function(){
    $("#preview").click(function(){
      var page_description = $("#wysiwyg").val();
      $("#preview_pages").html(page_description);
      $("#preview_pages").toggle();
    });
  });
</script>
<%= form_tag({:controller => "page", :action => "update", :id => @page.id}) %>
<div id="form_header">
  <h2> New Page </h2>
  <div class="form">
    <span class="label">Title</span>
    <%= text_field :pages, :title, :value => @page.title %>
  </div>
  <div class="form">
    <span class="label">Menu Title</span>
    <%= text_field :pages, :menu_header, :value => @page.menu_header %>
  </div>
  <div class="form">
    <span class="label">Text Description</span>
    <%= text_area :pages, :page_description, :value => @page.page_description, :id=>"wysiwyg", :rows=>"5", :cols=>"47" %>
  </div>
</div> 

<div id="form_header">
  <a id="preview" style="cursor:pointer;"> Preview </a>
  <div id="preview_pages"></div>
</div>
<%= submit_tag "Save" %>