<div id="form_header">
  <h3>Pages -   <%= link_to "Add new", :controller=>"page", :action => "new" %> -
    See: <%= link_to "All", :controller => "page", :action => "list", :sort => "all" %> - Filter by: (<%= link_to "Year", :controller => "page", :action => "list", :sort => "year" %>  /
    <%= link_to "Month", :controller => "page", :action => "list", :sort => "month" %>)</h3>
  <div class="form">
	<% @pages.each do |page| %>
		<%= text_field :page, :position, :value => page.position, :disabled => true, :size => 2 %>
		<b><%= page.title %></b> =>
		<%= link_to "View", {:controller=>"page", :action => "index", :pages => page.menu_header}, :id => "page_list_#{page.id}" %> =>
		<%= link_to "Edit", :controller=>"page", :action => "edit", :id => page.id %> <br/>
	<% end %>
  </div>
</div>