<%= form_tag({:controller => "page", :action => "save"}) %>
<div id="form_header">
  <h2> New Page </h2>
  <div class="form">
    <span class="label">Title</span>
    <%= text_field :pages, :title %>
  </div>
  <div class="form">
    <span class="label">Menu Title</span>
    <%= text_field :pages, :menu_header %>
  </div>
  <div class="form">
    <span class="label">Text Description</span>
    <%= text_area :pages, :page_description, :id=>"wysiwyg", :rows=>"5", :cols=>"47" %>
  </div>
  <div class="form">
    <span class="label">Position</span>
    <%= text_field :pages, :position, :value => 0, :size => 2 %>
  </div>
</div> 

<div id="form_header">
	<a id="preview" style="cursor:pointer;"> Preview </a>
	<div id="preview_pages"></div>
</div>
<%= submit_tag "Save" %>