<h1><%= @article.title %></h1>
<%= @article.body_part.html_safe %><br/>
<p style="padding:10px"><strong>Created At: </strong><%= @article.created_at.strftime("%B %d %Y %H:%m %p") %></p>
<% unless @article.comments.blank? %>
    <h1>Comments</h1>
<% end %>
<% @article.comments.each do |comment| %>
    <strong><%= comment.name %></strong> Commented .. <br/>
    <p style="margin-left:100px;"><%= comment.comment %></p><br/>
<% end %>


<% if @article.enable_comment %>
    <h3>Leave a comment </h3>
    <%= form_tag({:controller => "article", :action => "comment"}) %>
    
    <div class="form">
      <span class="label"><label>Your name</label></span><%= text_field :comments, :name %>
    </div>

    <div class="form">
      <span class="label"><label>Email</label></span><%= text_field :comments, :url %>
    </div>
    <div class="form">
      <span class="label"><label>Comment</label></span><%= text_area :comments, :comment, :rows=>"10", :cols=>"50" %>
    </div>
    <%= hidden_field :comments, :article_id, :value => @article.id %>
    <%= submit_tag "Comment" %>
<% end %>