<div id="form_header">
  <h3>Articles -  <%= link_to "Add new", :controller => "article", :action => "new" %> -
    See: <%= link_to "All", :controller => "article", :action => "list", :sort => "all" %> - Filter by: (<%= link_to "Year", :controller => "article", :action => "list", :sort => "year" %>  /
    <%= link_to "Month", :controller => "article", :action => "list", :sort => "month" %>)</h3>


  <div class="form">
    <% @articles.each do |article| %>
        <%= text_field :article, :position, :value => article.position, :disabled => true, :size => 2 %>
        <b><%= article.title %></b> =>
        <%= link_to "View", :controller=>"article", :action => "index", :articles => article.title %> =>
        <%= link_to "Edit", :controller=>"article", :action => "edit", :id => article.id %><br/>
    <% end %>
  </div>
</div>