<div id="form_header">
  <h2> Contact </h2>
  <span>* = required field</span><br/><br/>
  <%= form_tag({:controller => "static", :action => "contact_email"}) %>
    <div class="form">
     <span class="label">* Name :</span>
     <%= text_field_tag :name %>
    </div>
      <span class="label">* Email :</span>
      <%= text_field_tag :email %>
    <div class="form">
     <span class="label">Website URL :</span>
     <%= text_field_tag :website_url %>
    </div>
    <div class="form">
     <span class="label">* Message :</span>
     <%= text_area_tag :message %>
    </div>
    <div class="form">
    * Please enter the correct sum of these two numbers: <br/>
      <span class="label"><label class="first_captcha"><%= rand(10) %></label> + <label class="second_captcha"><%= rand(10) %></label></span>
      <%= hidden_field_tag "first_captcha" %>
      <%= hidden_field_tag "second_captcha" %>
      <%= text_field_tag :user_captcha %>
    </div>
   <%= submit_tag "Contact" %>
</div>

<script>
  $(document).ready(function(){
    // Getter
    first_captcha = $(".first_captcha").html();
    second_captcha = $(".second_captcha").html();
    //Setter
    $("#first_captcha").val(first_captcha);
    $("#second_captcha").val(second_captcha);
  });
</script>
