<div class="imageBox imageBoxRight">
        <img src="/images/contact.jpg" alt="Contact" />
</div>
<div class="formHeader">
<h2>Contact Address</h2>
  <p>
        SageWork Software (P) Ltd, <br/>
        108-A, Mariamalai Adigal Salai, <br/>
        Pondicherry - 605001, INDIA. <br/>
        Phone: +91 413 4207236, +91 413 2205631 <br/>
        Fax : +91 413 2205631 <br/>
        Email : info@sagework.com
  </p>
  <h2> Contact Form </h2>
  <span>* = required field</span><br/><br/>
  <%= form_tag({:controller => "static", :action => "contact_email"}, :id => "contact_form") %>
    <div class="form">
     <span class="label">* Name :</span>
     <%= text_field :contact_email, :name, :class=>"validate[required]" %>
    </div>
    <div class="form">
      <span class="label">* Email :</span>
      <%= text_field :contact_email, :email, :class=>"validate[required]" %>
    </div>
    <div class="form">
     <span class="label">Website URL :</span>
     <%= text_field :contact_email, :website_url %>
    </div>
    <div class="form">
     <span class="label">* Message :</span>
     <%= text_area :contact_email, :message, :id=>"wysiwyg", :rows=>"5", :cols=>"47" %>
    </div>
    <div class="form">
    * Please enter the correct sum of these two numbers: <br/>
      <span class="label"><label class="first_captcha"><%= rand(10) %></label> + <label class="second_captcha"><%= rand(10) %></label></span>
      <%= hidden_field_tag "first_captcha" %>
      <%= hidden_field_tag "second_captcha" %>
      <%= text_field_tag :user_captcha %>
    </div>
   <%= submit_tag "Contact" %>
</div>

<script>
  $(document).ready(function(){
    $("#contact_form").validationEngine();
    // Getter
    first_captcha = $(".first_captcha").html();
    second_captcha = $(".second_captcha").html();
    //Setter
    $("#first_captcha").val(first_captcha);
    $("#second_captcha").val(second_captcha);
  });
</script>
