<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> - <%= website_title %> <%= website_version %></title>
    <%= javascript_include_tag :all %>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="top"><ul class="menu"><%= render :partial => "layouts/menu" %></ul></div>
        <div id="logo"></div>
      </div>
      <div id="latest_posts">
        <% unless current_user.blank? %>
          <div id="banner">
            <%= link_to "Admin", administration_path %> => <%= link_to "Home", home_path %> <%= "=> #{@page_title}" unless @page_title.blank? %>
          </div>
        <% end  %>
        <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :class => "flash_#{name}" %>
        <%- end -%>
        <%= yield %>
      </div>
      <div id="footer">
        This site is powered by <%= website_title %> | <%= link_to "Admin", administration_path %> =>
        <% unless current_user.blank? %>
            <%= link_to "logout", logout_path %>
        <% else %>
            <%= link_to "login", login_path %>
        <% end %>
      </div>
    </div>
  </body>
</html>